# Entorno virtual
env/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Variables de entorno locales
.env
.env.*

# Archivos de documentación generados localmente
*.log
*.tmp

# Archivos de imágenes cifradas en almacenamiento local
images/**/*.enc
images/**/*.bin

# Editor / VS Code
.vscode/
